.header.masthead(style='background-image: url(img/header.jpg)')
  .header-content

    .container(*ngIf='!submit')
        h2 Sign UP
        .fields-container
            label Name:
            mat-form-field
                input(matInput, [(ngModel)]="name")
        .fields-container
            label Phone:
            mat-form-field
                input(matInput, [(ngModel)]="phone")  
        .fields-container
            label DOB:
            mat-form-field
                input(matInput, [matDatepicker]='picker', [(ngModel)]="dob")
                mat-datepicker-toggle(matsuffix='', [for]='picker')
                mat-datepicker(#picker='')
        .fields-container
            label Gender:
            mat-form-field
                mat-select([(ngModel)]="gender")
                    mat-option(value='Male') Male
                    mat-option(value='Female') Female
        .fields-
            label Blood Group:
            mat-form-field
                mat-select([(ngModel)]="blood")
                    mat-option(value='A') A
                    mat-option(value='B') B
                    mat-option(value='O') O
        .div-button-style
            a.btn.btn-primary.btn-xl.page-scroll.btn-width((click)='saveBasicDetails()') Next

    .container(*ngIf='submit')
        h2 Thankyou for registering
        h3 Redirecting you to home page...
