doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Angular QuickStart
    base(href='/')

    link(rel='icon', type='image/png' href='/favicon.png')

    // Fonts
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", rel="stylesheet", type='text/css', media="all")
    link(href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic", rel="stylesheet", type='text/css', media="all")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css", rel='stylesheet', type='text/css')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js')

  body
    // Preloader
    .spinning-preloader-container
      .spinning-preloader-elements
      .preloader-wrapper.active
      .showbox
        .loader
          svg.circular(viewbox='25 25 50 50')
            circle.path(cx='50', cy='50', r='15', fill='none', stroke-width='2', stroke-miterlimit='10')
    // App
    app.fade-element-in(style='height:100%')

