.header.masthead(style='background-image: url(img/header.jpg)')

    .fields-container
        label Which blood group do you want?
    .fields-container
        mat-form-field
            mat-select(placeholder='Blood Group', [(ngModel)]="blood")
                mat-option(value='A') A
                mat-option(value='B') B
                mat-option(value='O') O
    .div-button-style
        a.btn.btn-primary.btn-xl.page-scroll.btn-width((click)='requestBlood()') Request