nav#mainNav.navbar.navbar-expand-lg.navbar-light
    .container
      a.navbar-brand.js-scroll-trigger(routerLink='/') Start Angular
      button.navbar-toggler.navbar-toggler-right(
        type='button',
        data-toggle='collapse',
        data-target='#navbarResponsive',
        aria-controls='navbarResponsive',
        aria-expanded='false',
        aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarResponsive
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(routerLink='/about') About
          li.nav-item
            a.nav-link.js-scroll-trigger(routerLink='/services') Services
          li.nav-item
            a.nav-link.js-scroll-trigger(routerLink='/portfolio') Portfolio
          li.nav-item
            a.nav-link.js-scroll-trigger(routerLink='/login') Login
