.header.masthead(style='background-image: url(img/header.jpg)')

    .fields-container
        label Emergency:
        label {{emergency}}
        br
        label Type:
        label {{type}}
        br
    .div-button-style
        a.btn.btn-primary.btn-xl.page-scroll.btn-width((click)='requestBlood()') Accept
    .div-button-style
        a.btn.btn-primary.btn-xl.page-scroll.btn-width((click)='requestBlood()') Reject