.header.masthead(style='background-image: url(img/header.jpg)')
  .header-content
    .header-content-inner
      h1#homeHeading Emergency Response System
        //-   hr
        //-   p AngularJS can help you build better websites using the Bootstrap CSS framework! Just download the template and start going, no strings attached!
      
    .div-button-style
        a.btn.btn-primary.btn-xl.page-scroll.btn-width(routerLink="/sos") SOS
    .div-button-style
      a.btn.btn-primary.btn-xl.page-scroll.btn-width(routerLink="/blood") Request Blood 
    .div-button-style
      a.btn.btn-primary.btn-xl.page-scroll.btn-width(routerLink="/early-warning") Early Warning